{% extends "base.html" %} {% block content %} 
{% if user.is_authenticated and perms.products.change_product %}


<div class="create-container">
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% if product.image %}
        <img id="product-image-preview" src="{{ product.image.url }}" alt="{{ product.name }}" style="max-width: 200px; max-height: 200px;">
    {% else %}
        <img id="product-image-preview" style="max-width: 200px; max-height: 200px;">
    {% endif %}
    <input type="file" id="id_image" name="image" accept="image/*" onchange="previewImage(event)">
    {{ form.as_p }}
    <button type="submit">Save</button>
  </form>
  
  <form method="post" action=""></form>
    {% csrf_token %}
    <a href="{% url 'product_delete' product.pk %}" ><button type="submit" style="background-color: red; color: white;">Delete</button></a>
  </form>
</div>


<script>
function previewImage(event) {
    const reader = new FileReader();
    reader.onload = function() {
        const image = document.getElementById('product-image-preview');
        image.src = reader.result;
    }
    reader.readAsDataURL(event.target.files[0]);
}
</script>
{% else %}
<div>
  <h3 class="create-warning">
    You are not logged in or do not have access to this page.<br />
    Please log in to view this page.
  </h3>
</div>
{% endif %} {% endblock %}
