{% extends "base.html" %} {% block title %} Greenworld - Product List
{%endblock%} {% block content %}
<h1>Product List</h1>
<hr />
<div id="'product_list">
  <ul class="list-group">
    {% for product in product_list %} {% if product_list %}
    <li class="list-group-item">
      <a>{{ product.name }}</a>
    </li>
    {% endif %} {% endfor %}
  </ul>

  <img
    class="img-responsive"
    src="/static/images/jute-bag.png"
    alt="Eco-friendly bags"
    style="width: 20%"
    ;
  />
  <img class="img-responsive" src="/static/images/eco-friendlycutlery.jpg"
  alt="Eco-friendly bags" style="width: 20%";"border: />
  <img
    class="img-responsive"
    src="/static/images/eco-friendlysoaps.jpg"
    alt="Eco-friendly bags"
    style="width: 20%"
  />
</div>

{% endblock %}
