{% extends "base.html" %} {% block title %} Greenworld - Product List
{%endblock%} {% block content %}
<h1>Eco-friendly home items</h1>

<div id="'product_list">
  <ul class="list-group">
    {% for product in product_list %} {% if product_list %}
    <li class="list-group-item">
      <a>{{ product.name }}</a>
      <p>Category: {{ object.get_category_display }}</p>
      <p>Description: {{ object.description }}</p>
    </li>
    {% endif %} {% endfor %}
  </ul>
  <div>
    <p>Description: {{ object.get_description_display }}</p>
    <p>Price: {{ object.price }}</p>
    <img
      class="img-responsive"
      src="/static/images/jute-bag.png"
      alt="Eco-friendly bags"
      style="width: 20%"
      ;
    />
    <img
      class="img-responsive"
      src="/static/images/eco-friendlycutlery.jpg"
      alt="Eco-friendly bags"
      style="width: 20%"
      ;
    />
    <img
      class="img-responsive"
      src="/static/images/eco-friendlysoaps.jpg"
      alt="Eco-friendly bags"
      style="width: 20%"
    />
  </div>
</div>

{% endblock %}
